{% include 'parts/header.twig' %}
<div class="container">
    <h1>Clients</h1>
    <!-- Example row of columns -->
    <table class="table">
        <thead>
        <tr>
            <th>username</th>
            <th>Name</th>
            <th>Active?</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="/{{ section }}/{{ course.coursecode }}">{{ course.coursecode }}</a></td>
                <td>{{ course.name }}</td>
                <td>{{ course.isactive }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'parts/footer.twig' %}